<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
	<servlet>
		<servlet-name>DWR controller servlet</servlet-name>
		<description>DWR controller servlet</description>
		<servlet-class>org.directwebremoting.servlet.DwrServlet</servlet-class>
		<init-param>
			<param-name>debug</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>classes</param-name>
			<param-value>
				p2p.info.retrieval.web.SearchFiles,
				p2p.info.retrieval.web.model.Result
			</param-value>
		</init-param>
		<init-param>
			<param-name>activeReverseAjaxEnabled</param-name>
			<param-value>true</param-value>
		</init-param>
	</servlet>
<!--	<servlet>-->
<!--		<servlet-name>log4j-init</servlet-name>-->
<!--		<servlet-class>p2p.info.retrieval.web.init.Log4jInit</servlet-class>-->
<!--		<init-param>-->
<!--			<param-name>log4j-init-file</param-name>-->
<!--			<param-value>WEB-INF/log4j.lcf</param-value>-->
<!--		</init-param>-->
<!--		<load-on-startup>1</load-on-startup>-->
<!--	</servlet>-->
	<servlet>
		<servlet-name>lucene-init</servlet-name>
		<servlet-class>p2p.info.retrieval.web.init.LuceneInit</servlet-class>
		<init-param>
			<param-name>log4j-init-file</param-name>
			<param-value>WEB-INF/log4j.lcf</param-value>
		</init-param>
		<init-param>
			<param-name>lucene-init-file</param-name>
			<param-value>WEB-INF/lucene.icf</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>jtella-shutdown</servlet-name>
		<servlet-class>p2p.info.retrieval.web.shutdown.JTellaNodeShutdown</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>DWR controller servlet</servlet-name>
		<url-pattern>/dwr/*</url-pattern>
	</servlet-mapping>

</web-app>
